nav {
    height: 110px;
    width: 100%;
    padding: 10px 10% 10px 10%;

    display: flex;
    justify-content: space-between;
    background-color: #6b6b6b;
}
.menu-left{
    height: 100px;
    width: 20%;
    

    display: flex;
    align-items: center;
}
.menu-center{
    width: 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu-right{
    width: 15%;

    display: flex;
    justify-content: space-between;
}

